local upColor = colors.blue
local downColor = colors.brown
local bundledSide = "back"
local count = 5
local wait = .1
local wirelessSide = "top"

function pulse(dirColor) 
  redstone.setBundledOutput(bundledSide, dirColor)
  sleep(wait)
  redstone.setBundledOutput(bundledSide, 0)
  sleep(wait)
end


function go(dirColor) 
  for i = 1, count, 1 do
    pulse(dirColor)
  end
end

function listen() 
  local senderId, message, protocol = rednet.receive("altaCastleGate")
  print(senderId.."["..protocol.."]: "..message)
  if message == "open" then
    go(upColor)
    print("Opening")
  elseif message == "close" then
    go(downColor)
    print("Closing")
  else
    print("Unknown")
  end
end

rednet.open(wirelessSide)
rednet.host("altaCastleGate", "altaCastleGate")

while true do
  listen()
end